idl-01.rdp
tags
reference/IDL/*/
.project
*.pyc
readme.html
README.rst
build/
dist/
sambuca.egg-info/
.tox/
__pycache__/
.coverage
htmlcov/
.ipynb*

# PyCharm Project files contain local settings, and so are not appropriate for Git
.idea/
